<h1>Hello World App from MICHAEL HARTL's Ruby on Rails Tutorial.</h1>

<div class="links">
  <button><%= link_to 'Hello', hello_path %></button> |
  <button><%= link_to 'Goodbye', goodbye_path %></button>
</div>