<div class="content">
</div>
    <footer id="myFooter">
        <div class="container">
            
            </div>
        </div>
        <div class="social-networks">
            <a href="https://twitter.com/SandyVern" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://www.facebook.com/Sandra.E.Hogan" class="facebook"><i class="fa fa-facebook-official"></i></a>
            <a href="https://www.instagram.com/sandyvern" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/sandyvern" class="github"><i class="fa fa-github"></i></a>
            <a href="https://bitbucket.org/sandyvern" class="bitbucket"><i class="fa fa-bitbucket"></i></a>
            <a href="https://plus.google.com/u/0/+SandyHogan" class="google"><i class="fa fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© <%= Time.current.year %> Create with <i class="fa fa-heart"></i> by Sandy Hogan - All Rights Reserved </p>
        </div>
    </footer>